Source: tiger
Section: admin
Priority: optional
Maintainer: Javier Fernández-Sanguino Peña <jfs@debian.org>
Uploaders: Francisco Manuel Garcia Claramonte <francisco@debian.org>
Build-Depends: debhelper (>= 11), autoconf, po-debconf (>= 0.5.0)
Standards-Version: 4.1.3
Homepage: http://savannah.nongnu.org/projects/tiger/
Vcs-Browser: https://git.savannah.nongnu.org/cgit/tiger.git
Vcs-Git: https://git.savannah.gnu.org/r/tiger.git

Package: tiger
Architecture: any
Depends: net-tools, binutils, bsdutils (>= 3.0-0), debianutils (>= 1.8), debconf | debconf-2.0, ucf, lsb-release, ${shlibs:Depends}, ${misc:Depends}
Recommends: sendmail | mail-transport-agent, john, chkrootkit, tripwire | aide
Suggests: lsof, lynis
Description: security auditing and intrusion detection tools for Linux
 TIGER, or the 'tiger' scripts, is a set of tools (Bourne shell scripts and C
 programs) which are used to perform a security audit of different operating
 systems components. The tools can be both run all at once to generate an
 audit report of the system and to detect elements that could be fixed
 when hardening it.
 . 
 TIGER has one primary goal: report ways the system's security can be
 compromised.
 .
 Most of the tools are independent, but some of them rely on specialised
 external security tools such as John the Ripper, Chkroot and integrity check
 tools (like Tripwire, Integrit or Aide) to execute some tasks.
 .
 The same checks are also configured by default to run periodically and
 detect deviations or unauthorised changes. This makes it possible to
 used them also as a host intrusion detection mechanism.
 This review mechanism relies on the use of the cron task scheduler and an
 email delivery system to report errors and deviations.
 . 
 This package provides all the security scripts and data files for Linux.
 A separate package is available providing the scripts for other operating
 systems so they can be run from a centralised repository.
 .
 The Linux scripts incorporate specific checks targetting the Debian OS
 including: md5sums checks of installed files, location of files not belonging
 to packages, and analysis of local listening processes.
 .
 Alternatives to TIGER available in Debian include lynis and ossec. If you are
 aiming for a small set of checks, try checksecurity, lsat or yasat.

Package: tiger-otheros
Architecture: any
Depends: tiger, ${misc:Depends}
Description: security auditing and intrusion detection scripts for Unix based systems
 TIGER, or the 'tiger' scripts, is a set of tools (Bourne shell scripts and C
 programs) which are used to perform a security audit of different operating
 systems components. The tools can be both run all at once to generate an
 audit report of the system and to detect elements that could be fixed
 when hardening it. They can also be run periodically to compare the operating 
 system status against a baseline and report deviations. In this way, they can
 be used also as a host intrusion detection mechanism.
 .
 This package provides all the scripts for Unix-based operating systems (other
 than Linux) which are provided in the Tiger application upstream. They are
 separately packaged in Debian as most users do not need them to run Tiger.
 .
 On the other hand, they might be useful for administrators that wish to run
 Tiger in hosts running different Unix variants in a distributed environment.
 Hosts can run the Tiger scripts through the network (e.g. NFS) and generate
 locally reports for analysis and intrusion detection.
