pkgbase = tigris
	pkgdesc = Security auditor for Linux, macOS and the BSDs, descended from TIGER
	pkgver = 3.8.1
	pkgrel = 1
	url = https://github.com/creativeheadz/tigris
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = gcc
	makedepends = make
	backup = etc/tigris/tigerrc
	backup = etc/tigris/cronrc
	source = tigris-3.8.1.tar.gz::https://github.com/creativeheadz/tigris/archive/refs/tags/version_3_8_1.tar.gz
	sha256sums = SKIP

pkgname = tigris
